.form {
  display: flex;
  align-items: center;
  gap: 12px;
  width: min-content;
  margin: 0 auto;

  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}

.control {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.swap {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  @media screen and (max-width: 640px) {
    transform: rotate(90deg);
  }
}
